env:
    es6: true
    node: true
ecmaFeatures:
    jsx: true
plugins:
    - react
rules:
  # Cannot enable no-extra-parens rule as all multiline JSX expressions are wrapped
  no-extra-parens: 0

  jsx-quotes:
    - 2
    - prefer-double
  react/display-name:
    - 2
    - acceptTranspilerName: true
  react/jsx-no-duplicate-props: 2
  # The jsx-uses-* rules fix invalid warnings from no-unused-vars
  react/jsx-uses-vars: 2
  react/jsx-uses-react: 2
  react/no-danger: 2
  react/no-did-mount-set-state:
    - 2
    - allow-in-func
  react/no-did-update-set-state: 2
  react/no-unknown-property: 2
  react/prop-types: 2
  react/react-in-jsx-scope: 2
  react/forbid-prop-types: 0  # TODO: Rule crashes, re-enable once fixed
  react/jsx-closing-bracket-location:
    - 1  # TODO: Upgrade to error if rule gains indentation-aligned option
    - tag-aligned
  react/jsx-indent-props:
    - 2
    - 4
  react/jsx-no-undef: 2
  react/no-direct-mutation-state: 2
  react/self-closing-comp: 1
  react/wrap-multilines: 2
